{% load static %}
{% load text_tags%}

<div class="card mb-4">
    <div class="card-body" href="{% url 'car_details' advert.id %}">
        <h5 class="card-title">{{ advert.car.mark }}</h5>
        <h5 class="card-title">{{ advert.car.model.car_model }} | {{ advert.car.year }}</h5>
        {% if advert.image %}
            <img class="card-img-top mb-2" src="{{ advert.image.url}}" alt="{{ advert.car.mark }}">
        {% else %}
            <img src="{% static 'no-image.jpg' %}" class="card-img-top img-thumbnail" alt="No image">
        {% endif %}
        <h6 class="card-subtitle mb-2 text-muted">Cost: {{ advert.price }} BYN - {{ advert.price_usd }} USD</h6>
        <p class="card-engine"> Engine: {{ advert.get_engine_type_display }} - {{ advert.engine_capacity }}l.</p>
        <p class="card-transmission"> Transmission: {{ advert.get_gear_box_display }}</p>
        <p class="card-drive"> Drive: {{ advert.get_drive_display }}</p>
        {% if advert.description %}
            <p class="card-text">{{ advert.description|cut_text:200 }}</p>
        {% endif %}
        <br>
        <a href="{% url 'car_details' advert.id %}" class="btn btn-primary">Details</a>
    </div>
</div>
