{% load static %}{% load tz %}

<nav class="navbar navbar-expand-lg navbar-light text-white fixed-top" style="background-color: #EC8D78">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'news' %}">
            <img src="{% static 'car.svg' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
            CarWager
        </a>
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "news" %}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "showbill" %}">Sale ads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "auction" %}">Auction</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url "add_advert" %}">Create advert</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url "add_auction" %}">Create Auction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{% url "profile" %}">{{ request.user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url "logout" %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a class="nav-link active" aria-current="page" href="{% url "auth" %}">Login</a>
                    </li>
                {% endif %}
                <li>
                    <a>
                        {% localtime on %}
                            {{ value }}
                        {% endlocaltime %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>