{% load static %}
{% load text_tags %}

<a class="link" href="{% url 'auction_details' auction.id %}">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">{{ auction.car.mark }}</h5>
            <h5 class="card-title">{{ auction.car.model.car_model }} | {{ auction.get_status_display }}</h5>
            {% if auction.image %}
            <img class="card-img-top mb-2" src="{{ auction.image.url }}" alt="{{ auction.car.mark }}">
            {% else %}
            <img src="{% static 'no-image.jpg' %}" class="card-img-top mb-2" alt="No image">
            {% endif %}
            <h6 class="card-subtitle"><strong>Current price:</strong> {{ auction.price }} BYN</h6>
            <p class="card-engine"><strong>Engine:</strong> {{ auction.get_engine_type_display }} - {{auction.get_engine_capacity_display }}l.</p>
            <p class="card-transmission"><strong>Transmission:</strong> {{ auction.get_gear_box_display }}</p>
            <p class="card-drive"><strong>Drive:</strong> {{ auction.get_drive_display }}</p>
            {% if auction.description %}
            <p class="card-text"><strong>Description:</strong> {{ auction.description|cut_text:180 }}</p>
            {% endif %}
            <p class="date"><strong>Date start:</strong> {{ auction.date_start }}</p>
            <p class="date"><strong>Date end:</strong> {{ auction.date_end }}</p>
        </div>
    </div>
</a>