{% extends "base.html" %}
{% load static %}
{% block title %} Auction {{ auction.car.model }}{% endblock %}
{% block content %}


    <main class="auction-details">
        <h1 class="my-4">{{ auction.car.mark }} {{ auction.car.model.car_model }} {{ time }}</h1>
        <div class="row">
            <div class="col-4">
                {% if auction.image %}
                    <img src="{{ auction.image.url }}" alt="{{ auction.car.model }}" class="w-100">
                {% else %}
                    <img src="{% static 'no-image.jpg' %}" class="card-img-top" alt="No image">
                {% endif %}
            </div>
            <div class="col-6">
                <h3 class="mb-1">Current Price: {{ auction.price }} BYN</h3>
                <h5 class="mb-1">{{ auction.get_status_display }}</h5>
                <h8 class="mb-1">Started at: {{ auction.date_start }}</h8>
                <br>
                <h8 class="mb-1">Stop at {{ auction.date_end }}</h8>
                <br>
                {% if  winner %}
                    <div class="winner"><h5>Winner - {{ winner }} </h5></div>
                {% endif %}
                {% if auction.status == "go" %}
                    {% if user.is_authenticated %}
                        <meta http-equiv="refresh" content="5">
                        <form method="post">
                            {% csrf_token %}
                            <h7 class="mb-2">Auction bid</h7>
                            <div class="row">
                                <div class="col-6">
                                    <div class="input-group mb-3">
                                        <input name="bid" type="number" class="bid form-control" required minlength="1"
                                               value="1" step="0.01" placeholder="Bid"
                                               aria-label="Bid"
                                               aria-describedby="bid">
                                        <span class="input-group-text" id="bid">
                                    <button type="submit" class="btn">Bid</button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                {% endif %}
                <h4 class="mb-3">Information: </h4>
                <h6 class="mb-3">Engine type: {{ auction.get_engine_type_display }}</h6>
                <h6 class="mb-3">Engine capacity: {{ auction.engine_capacity }}l.</h6>
                <h6 class="mb-3">Gear box: {{ auction.get_gear_box_display }}</h6>
                <h6 class="mb-3">Drive: {{ auction.get_drive_display }}</h6>
                <h6 class="mb-3">Win: {{ auction.win }}</h6>
                <h6 class="mb-3">Phone number: {{ auction.phone_number }}</h6>
                <div class="description mb-3">
                    <h3 class="mb-3">Description:</h3>
                    <h6 class="mb-3">{{ auction.description }}</h6>
                </div>
                {% if user.is_authenticated %}
                    <form method="POST" class="mt-4">
                        {% csrf_token %}
                        {% if is_auction_in_favorites %}
                            <input type="hidden" name="action" value="remove">
                            <button type="submit" class="btn btn-primary">Remove from favorites</button>
                        {% else %}
                            <input type="hidden" name="action" value="add">
                            <button type="submit" class="btn btn-primary">Add to favorites</button>
                        {% endif %}
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
            {% if auction.bids.exists %}
                <div class="bids col-2">
                    <h3 class="mb-3">Users previously take a bid to this auction:</h3>
                    <ul>
                        {% for bid in bids.all %}
                            <li>{{ bid.bid }} BYN by {{ bid.user.username }}
                                at {{ bid.created_at }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}