{% extends "base.html" %}
{% load static %}
{% block title %} Auction {{ auction.car.model }}{% endblock %}
{% block content %}

    <main class="auction-details">
        <h1 class="my-4">{{ auction.car.mark }} {{ auction.car.model.car_model }}</h1>
        <div class="row">
            <div class="col-4">
                {% if auction.image %}
                    <img src="{{ auction.image.url }}" alt="{{ auction.car.model }}" class="w-100">
                {% else %}
                    <img src="{% static 'no-image.jpg' %}" class="card-img-top img-thumbnail" alt="No image">
                {% endif %}
            </div>
            <div class="col-8">
                <h3 class="mb-3">Price: {{ auction.price }} BYN | {{ auction.price_usd }} USD</h3>
                <h3 class="mb-3">Engine type: {{ auction.get_engine_type_display }}</h3>
                <div class="mb-3">
                    <h3 class="mb-3">Description:</h3>
                    {{ auction.description }}
                </div>
                {% if user.is_authenticated %}
                    <form method="POST" class="mt-4">
                        {% csrf_token %}
                        {% if is_auction_in_favorites %}
                            <input type="hidden" name="action" value="remove">
                            <button type="submit" class="btn btn-primary">Remove from favorites</button>
                        {% else %}
                            <input type="hidden" name="action" value="add">
                            <button type="submit" class="btn btn-primary">Add to favorites</button>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}