{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <br>
    <br>
    <div class="news-details">
        <div class="col-9 news-item">
            <div class="news-card">
                {% if news.image %}
                    <img src="{{ news.image.url }}" class="card-img-top" alt="{{ news.title }}">
                {% endif %}
                <div class="news-body">
                    <h4 class="news-title">{{ news.title }}</h4>
                    <h5 class="news-text">{{ news.text }}</h5>
                    <br>
                    <br>
                    <p class="news-date">Published: {{news.created_at}} </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}